In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
covid_cases_file = "Data_Transformation/Covid_Transformed.csv"
covid_cases = pd.read_csv(covid_cases_file)
covid_cases.head()

    county  month  new_cases  new_deaths
0  Alameda      3        269           7
1  Alameda      4       1330          56
2  Alameda      5       1763          41
3  Alameda      6       2705          31
4  Alameda      7       5374          47

In [18]:

final_data_file = "Data_Transformation/final_joined_data.csv"
final_joined_data = pd.read_csv(final_data_file)
final_joined_data.head()
final_joined_data.to_json('Data_Transformation/final_joined_data.json')

In [4]:
unemployment_numbers_file = "Data_Transformation/Unempolyment_Transformed.csv"
unemployment_numbers = pd.read_csv(unemployment_numbers_file )
unemployment_numbers.head()

    county  month  labor_force  employment  unemployment  unemployment_rate
0  Alameda      1       841300      815500         25700              0.031
1  Alameda      2       840400      815400         25000              0.030
2  Alameda      3       835400      802700         32700              0.039
3  Alameda      4       804200      691200        112900              0.140
4  Alameda      5       803400      693400        110100              0.137

In [5]:
home_price_file = "Data_Transformation/Home_Prices_Transformed.csv"
home_price = pd.read_csv(home_price_file)
home_price= home_price[['county','month', 'price']]
home_price.head()

           county  month   price
0     Los Angeles      2  648559
1       San Diego      2  622347
2          Orange      2  756030
3       Riverside      2  399386
4  San Bernardino      2  364813

In [6]:
county_population_file = "Data_Transformation/Population_Transformed.csv"
county_population = pd.read_csv(county_population_file)
county_population = county_population[['county','population', 'growthrate']]
county_population.head()

           county  population  growthrate
0     Los Angeles    10105500      2.8819
1       San Diego     3343360      7.7353
2          Orange     3185970      5.6160
3       Riverside     2450760     11.3147
4  San Bernardino     2171600      6.4035

In [7]:
connection_string = "postgres:falmouth37@localhost:5433/covid_economy"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
engine.table_names()

['covid_cases',
 'unemployment_numbers',
 'home_price',
 'county_population',
 'joined_data']

In [25]:
covid_cases.to_sql(name = 'covid_cases', con = engine, if_exists= 'append', index= False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "covid_cases_pkey"
DETAIL:  Key (county, month)=(Alameda, 3) already exists.

[SQL: INSERT INTO covid_cases (county, month, new_cases, new_deaths) VALUES (%(county)s, %(month)s, %(new_cases)s, %(new_deaths)s)]
[parameters: ({'county': 'Alameda', 'month': 3, 'new_cases': 269, 'new_deaths': 7}, {'county': 'Alameda', 'month': 4, 'new_cases': 1330, 'new_deaths': 56}, {'county': 'Alameda', 'month': 5, 'new_cases': 1763, 'new_deaths': 41}, {'county': 'Alameda', 'month': 6, 'new_cases': 2705, 'new_deaths': 31}, {'county': 'Alameda', 'month': 7, 'new_cases': 5374, 'new_deaths': 47}, {'county': 'Alameda', 'month': 8, 'new_cases': 6707, 'new_deaths': 75}, {'county': 'Alameda', 'month': 9, 'new_cases': 2929, 'new_deaths': 149}, {'county': 'Alpine', 'month': 3, 'new_cases': 1, 'new_deaths': 0}  ... displaying 10 of 405 total bound parameter sets ...  {'county': 'Yuba', 'month': 8, 'new_cases': 461, 'new_deaths': 2}, {'county': 'Yuba', 'month': 9, 'new_cases': 229, 'new_deaths': 1})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [15]:
unemployment_numbers.to_sql(name = 'unemployment_numbers', con = engine, if_exists = 'append', index = False)

In [16]:
home_price.to_sql(name = 'home_price', con = engine, if_exists = 'append', index = False)

In [17]:
county_population.to_sql(name = 'county_population', con = engine, if_exists = 'append', index = False)

In [10]:
final_joined_data.to_sql(name = 'joined_data', con = engine, if_exists = 'append', index = False)