In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
covid_cases_file = "../Raw_Data/Covid_Transformed.csv"
covid_cases = pd.read_csv(covid_cases_file)
covid_cases.head()

    county  month  new_cases  new_deaths
0  Alameda      3        269           7
1  Alameda      4       1330          56
2  Alameda      5       1763          41
3  Alameda      6       2705          31
4  Alameda      7       5374          47

In [3]:
# covid_cases_revised = covid_cases.copy()
# covid_cases_revised.set_index("id", inplace=True)
# covid_cases_revised.head()

In [4]:
unemployment_numbers_file = "../Raw_Data/Unemployment_Transformed.csv"
unemployment_numbers = pd.read_csv(unemployment_numbers_file )
unemployment_numbers.head()

    county  month  labor_force  employment  unemployment  unemployment_rate
0  Alameda      1       841300      815500         25700              0.031
1  Alameda      2       840400      815400         25000              0.030
2  Alameda      3       835400      802700         32700              0.039
3  Alameda      4       804200      691200        112900              0.140
4  Alameda      5       803400      693400        110100              0.137

In [5]:
connection_string = "postgres:924runner@localhost:5432/covid_cases"
engine = create_engine(f'postgresql://{connection_string}')

In [6]:
engine.table_names()

['covid_cases', 'unemployment_numbers']

In [8]:
#covid_cases.to_sql(name = 'covid_cases', con = engine, if_exists= 'append', index= True)

In [9]:
unemployment_numbers.to_sql(name = 'unemployment_numbers', con = engine, if_exists = 'append', index = True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "unemployment_numbers_pkey"
DETAIL:  Key (index)=(0) already exists.

[SQL: INSERT INTO unemployment_numbers (index, county, month, labor_force, employment, unemployment, unemployment_rate) VALUES (%(index)s, %(county)s, %(month)s, %(labor_force)s, %(employment)s, %(unemployment)s, %(unemployment_rate)s)]
[parameters: ({'index': 0, 'county': 'Alameda', 'month': 1, 'labor_force': 841300, 'employment': 815500, 'unemployment': 25700, 'unemployment_rate': 0.031}, {'index': 1, 'county': 'Alameda', 'month': 2, 'labor_force': 840400, 'employment': 815400, 'unemployment': 25000, 'unemployment_rate': 0.03}, {'index': 2, 'county': 'Alameda', 'month': 3, 'labor_force': 835400, 'employment': 802700, 'unemployment': 32700, 'unemployment_rate': 0.039}, {'index': 3, 'county': 'Alameda', 'month': 4, 'labor_force': 804200, 'employment': 691200, 'unemployment': 112900, 'unemployment_rate': 0.14}, {'index': 4, 'county': 'Alameda', 'month': 5, 'labor_force': 803400, 'employment': 693400, 'unemployment': 110100, 'unemployment_rate': 0.13699999999999998}, {'index': 5, 'county': 'Alameda', 'month': 6, 'labor_force': 824100, 'employment': 713000, 'unemployment': 111100, 'unemployment_rate': 0.135}, {'index': 6, 'county': 'Alameda', 'month': 7, 'labor_force': 819100, 'employment': 719100, 'unemployment': 100000, 'unemployment_rate': 0.122}, {'index': 7, 'county': 'Alameda', 'month': 8, 'labor_force': 806200, 'employment': 727100, 'unemployment': 79200, 'unemployment_rate': 0.098}  ... displaying 10 of 400 total bound parameter sets ...  {'index': 398, 'county': 'Yuba', 'month': 7, 'labor_force': 28300, 'employment': 24400, 'unemployment': 3800, 'unemployment_rate': 0.135}, {'index': 399, 'county': 'Yuba', 'month': 8, 'labor_force': 28000, 'employment': 25000, 'unemployment': 3000, 'unemployment_rate': 0.108})]
(Background on this error at: http://sqlalche.me/e/gkpj)